#!/bin/sh

usage() {
    cat <<EOF
Usage: $0 [-K] backupdir
   eg: $0 exist.201801151508

Options:
   -K  keep eXist instance dir from before restore (gets deleted by default)
EOF
}

while getopts "K" PARAM; do
    case "${PARAM}" in
	K) KEEP_PREVIOUS=yes;;
	*) usage; exit 1;;
    esac
done
shift $(($OPTIND - 1))

BACKUP_DIR=$1
INSTNAME=$2
INSTUSER=$3

EXIST_BASEDIR={{ exist_home }}
BACKUP_BASEDIR=${EXIST_BASEDIR}/backup/${INSTUSER}
LOGFILE=`mktemp`
SYSLOG=
export LOGFILE SYSLOG

. ./common-shfuncs.sh

if [ "$BACKUP_DIR" = "" ]; then
    logerr 1 "ERROR: no backup dir specified, exiting"
fi

logmsg "checking if backup files are available"
bakdir=${BACKUP_BASEDIR}/${BACKUP_DIR}/${INSTNAME}
if [ -d $bakdir -a -r $bakdir ]; then
    logmsg "found exist backup $bakdir"
    found_exist=true
else
    logmsg "WARN: backup not found: $bakdir"
    found_exist=false
fi
init=${BACKUP_BASEDIR}/${BACKUP_DIR}/${INSTNAME}.init
if [ -e $init -a -r $init ]; then
    logmsg "found init.d script $init"
    found_init=true
else
    #logmsg "WARN: not found: init.d script $init}"
    found_init=false
fi
systemd=${BACKUP_BASEDIR}/${BACKUP_DIR}/${INSTNAME}.service
if [ -e $systemd -a -r $systemd ]; then
    logmsg "found systemd file $systemd"
    found_systemd=true
else
    #logmsg "WARN: not found: systemd file $systemd"
    found_systemd=false
fi


# if eXist instance is running, stop it first
if psexist -S $INSTNAME | grep -q $INSTNAME; then
    logmsg "stopping running eXist instance \"${INSTNAME}\""
    service ${INSTNAME} stop
    # check again to verify it is really dead, just to be sure
    if psexist -S $INSTNAME | grep -q $INSTNAME; then
	logerr 2 "ERROR: eXist instance \"${INSTNAME}\" still running after stop command"
    fi
else
    logmsg "eXist instance \"${INSTNAME}\" not running"
fi

# rename current eXist installation dir
logmsg "moving current eXist dir to \"${INSTNAME}.BEFORE_RESTORE\""
mv ${EXIST_BASEDIR}/${INSTNAME} ${EXIST_BASEDIR}/${INSTNAME}.BEFORE_RESTORE

# copy backed up eXist instance to installation dir
logmsg "restoring eXist instance \"${INSTNAME}\""
rsync -a ${bakdir} ${EXIST_BASEDIR}/

# restore init.d or systemd startup file from backup
if [ -e $init ]; then
    logmsg "restoring init.d script/link for eXist instance \"${INSTNAME}\""
    cp -f $init /etc/init.d/${INSTNAME}
fi
if [ -e $systemd ]; then
    logmsg "restoring systemd file/link for eXist instance \"${INSTNAME}\""
    cp -f $systemd /etc/systemd/system/${INSTNAME}.service
fi

# remove eXist version from before the restore, unless KEEP_PREVIOUS
if [ -z "$KEEP_PREVIOUS" ]; then
    logmsg "removing previous eXist version from before the restore"
    rm -rf ${EXIST_BASEDIR}/${INSTNAME}.BEFORE_RESTORE
fi

# move restore logfile to eXist log dir
[ -n "$LOGFILE" ] \
    && mv $LOGFILE ${EXIST_BASEDIR}/${INSTNAME}/restore-${BACKUP_DIR}.log
