[Unit]
Description=eXist-db - Native XML Database -
Documentation=http://exist-db.org/exist/apps/doc/
After=syslog.target

[Service]
User={{ exist_instuser }}

ExecStart={{ exist_path }}/bin/service.sh
ExecStop=/usr/bin/pkill -fu {{ exist_instuser }} "{{ exist_instname }} org.codehaus"
Restart=on-abort
#StandardOutput=null

[Install]
WantedBy=multi-user.target
