# Custom Java options for this eXist-db instance
#
# pass each custom Java option on a separate line
# comments and whitespace lines get stripped before applying options

# IP adresses for HTTP/TLS
{% if exist_http_host is defined %}
-Djetty.http.host={{ exist_http_host }}
{% else %}
#-Djetty.http.host=
{% endif %}
{% if exist_ssl_host is defined %}
-Djetty.ssl.host={{ exist_ssl_host }}
{% else %}
#-Djetty.ssl.host=
{% endif %}

# HTTP/TLS ports
{% if exist_http_port > 0 %}
-Djetty.port={{ exist_http_port }}
{% else %}
#-Djetty.port=
{% endif %}
{% if exist_ssl_port > 0 %}
-Djetty.ssl.port={{ exist_ssl_port }}
{% else %}
#-Djetty.ssl.port=
{% endif %}

# initial and max Java heap memory
# set to same amount to improve G1GC region sizing
-Xms{{ exist_mem_init_heap }}m
-Xmx{{ exist_mem_max_heap }}m

# max Java metaspace and direct memory sizes
# if not limited, both default to -Xmx value
-XX:MaxMetaspaceSize={{ exist_mem_max_meta }}m
-XX:MaxDirectMemorySize={{ exist_mem_max_direct }}m

# GC (default G1 GC)
-XX:+UseG1GC
-XX:MaxGCPauseMillis={{ exist_mem_g1gc_pausegoal }}
# GC logging/debugging
{% if exist_mem_gcdebug_enable|bool is sameas true %}
-XX:+PrintGCDetails
{% if java_provider is defined and java_provider == 'Oracle' %}
-XX:+PrintGCDateStamps
{% endif %}
-Xloggc:{{ exist_path }}/logs/gc-%t.log
{% else %}
#-XX:+PrintGCDetails
{% if java_provider is defined and java_provider == 'Oracle' %}
#-XX:+PrintGCDateStamps
{% endif %}
#-Xloggc:{{ exist_path }}/logs/gc-%t.log
{% endif %}

# NMT (native memory tracking)
{% if exist_mem_nmt_enable|bool is sameas true %}
-XX:NativeMemoryTracking=summary
{% if java_provider is defined and java_provider == 'Oracle' %}
{% endif %}
-XX:+UnlockDiagnosticVMOptions
-XX:+PrintNMTStatistics
{% else %}
#-XX:NativeMemoryTracking=summary
{% if java_provider is defined and java_provider == 'Oracle' %}
{% endif %}
#-XX:+UnlockDiagnosticVMOptions
#-XX:+PrintNMTStatistics
{% endif %}

# string deduplication, requires Java >= 8u20 and G1 GC
{% if exist_mem_strdedup_enable|bool is sameas true %}
-XX:+UseStringDeduplication
{% if java_provider is defined and java_provider == 'Oracle' %}
-XX:+PrintStringDeduplicationStatistics
{% endif %}
{% else %}
#-XX:+UseStringDeduplication
{% if java_provider is defined and java_provider == 'Oracle' %}
#-XX:+PrintStringDeduplicationStatistics
{% endif %}
{% endif %}

# Java NIO cache tuning (256k) to work around high direct memory consumption
# by java.nio
# requires Java >= 8u102, maybe not needed with Java 11
{% if exist_mem_niocachetune_enable|bool is sameas true %}
-Djdk.nio.maxCachedBufferSize=262144
{% else %}
#-Djdk.nio.maxCachedBufferSize=262144
{% endif %}

# tmp dir
-Djava.io.tmpdir={{ exist_home }}/tmp
