#!/bin/sh
### BEGIN INIT INFO
# Provides: eXist-db
# Required-Start:
# Required-Stop:
# Default-Start:  2 3 4 5
# Default-Stop: 0 1 6
# Short-Description: {{ exist_instname }}
# Description: eXist-db Database Server (instance {{ exist_instname }})
### END INIT INFO

# name of this eXist-db instance
EXIST_NAME={{ exist_instname }}
# user that runs this eXist-db instance
EXIST_USER={{ exist_instuser }}
# path to this eXist-db instance
EXIST_DIR={{ exist_path }}

# create a file ${EXIST_DIR}/etc/exist.java.options
# to pass custom Java command line flags (mem, GC settings etc)

# usually no need to edit below here
#------------------------------------------------------------------------------

# eXist-db standard Java options
EXIST_DEFAULT_OPTS="\
  -Xms128m \
  -Dfile.encoding=UTF-8 \
  -Dlog4j.configurationFile=${EXIST_DIR}/etc/log4j2.xml \
  -Dexist.home=${EXIST_DIR} \
  -Dexist.configurationFile=${EXIST_DIR}/etc/conf.xml \
  -Djetty.home=${EXIST_DIR} \
  -Dexist.jetty.config=${EXIST_DIR}/etc/jetty/standard.enabled-jetty-configs \
"

# custom options if exist.java.options file is present
EXIST_JAVA_OPTFILE=${EXIST_DIR}/etc/exist.java.options
if [ -f "${EXIST_JAVA_OPTFILE}" -a -r "${EXIST_JAVA_OPTFILE}" ]; then
    EXIST_JAVA_OPTS=`perl -ne 'next if /^\s*#/; print' <${EXIST_JAVA_OPTFILE}`
fi

# application booter options
REPO=${EXIST_DIR}/lib
CLASSPATH="${EXIST_DIR}/etc:${REPO}/appassembler-booter-2.1.0.jar:${REPO}/appassembler-model-2.1.0.jar:${REPO}/plexus-utils-3.2.0.jar:${REPO}/stax-api-1.0.1.jar:${REPO}/stax-1.1.1-dev.jar"
EXIST_BOOTER_OPTS="\
  -classpath ${CLASSPATH} \
  -Dapp.name=startup \
  -Dapp.pid=\"$$\" \
  -Dapp.repo=${REPO} \
  -Dapp.home=${EXIST_DIR} \
  -Dbasedir=${EXIST_DIR} \
  org.codehaus.mojo.appassembler.booter.AppassemblerBooter"

FULLCMD="{{ ansible_env.JAVA_HOME }}/bin/java ${EXIST_DEFAULT_OPTS} ${EXIST_JAVA_OPTS} ${EXIST_BOOTER_OPTS}"


status() {
    if pgrep -lfu ${EXIST_USER} "${EXIST_NAME} org.codehaus" >/dev/null; then
        echo running
        exit 0
    else
        echo stopped
        exit 1
    fi
}

startit() {
    echo "Starting eXist-db ..."
    sudo -b -u ${EXIST_USER} nohup ${FULLCMD} >${EXIST_DIR}/logs/startup.log 2>&1
}

stopit() {
    echo "Stopping eXist-db ..."
    pkill -fu ${EXIST_USER} "${EXIST_NAME} org.codehaus"
}


case "$1" in
    'start')
        startit
        ;;

    'stop')
        stopit
        ;;

    'restart')
        stopit
        startit
        ;;


    'force-reload')
        stopit
        startit
        ;;

    'status')
        status
        ;;

    *)
        echo "Usage: $0 { start | stop | restart | status }"
        exit 1
        ;;
esac

exit $?
