#!/bin/sh
### BEGIN INIT INFO
# Provides: eXist-db
# Required-Start:
# Required-Stop:
# Default-Start:  2 3 4 5
# Default-Stop: 0 1 6
# Short-Description: {{ exist_instname }}
# Description: eXist-db Database Server (instance {{ exist_instname }})
### END INIT INFO

# name of this eXist-db instance
EXIST_NAME={{ exist_instname }}
# user that runs this eXist-db instance
EXIST_USER={{ exist_instuser }}
# path to this eXist-db instance
EXIST_DIR={{ exist_path }}

# custom Java options for eXist-db can be defined in file
#   ${EXIST_DIR}/contrib/exist.java.options
# to pass custom Java command line flags (mem, GC settings etc)


status() {
    if pgrep -lfu ${EXIST_USER} "${EXIST_NAME} org.codehaus" >/dev/null; then
        echo running
        exit 0
    else
        echo stopped
        exit 1
    fi
}

startit() {
    echo "Starting eXist-db ..."
    sudo -b -u ${EXIST_USER} nohup ${EXIST_DIR}/contrib/service.sh >${EXIST_DIR}/logs/startup.log 2>&1
}

stopit() {
    echo "Stopping eXist-db ..."
    pkill -fu ${EXIST_USER} "${EXIST_NAME} org.codehaus"
}


case "$1" in
    'start')
        startit
        ;;

    'stop')
        stopit
        ;;

    'restart')
        stopit
        startit
        ;;


    'force-reload')
        stopit
        startit
        ;;

    'status')
        status
        ;;

    *)
        echo "Usage: $0 { start | stop | restart | status }"
        exit 1
        ;;
esac

exit $?
