{% if ansible_service_mgr == "systemd" %}
{{ exist_instuser }} ALL=(ALL:ALL) NOPASSWD: /bin/systemctl * {{ exist_instname }}
{% else %}
{{ exist_instuser }} ALL=(ALL:ALL) NOPASSWD: /sbin/service {{ exist_instname }}
{% endif %}
