xquery version "3.1";


{% if exist_major_version > 4 %}
declare variable $local:users :=
    map {
{{ exist_userpass_map[inventory_hostname][exist_instname] }}
};
{% else %}
declare variable $local:users :=
    map:new((
 {{ exist_userpass_map[inventory_hostname][exist_instname] }}
    ));
{% endif %}

declare function local:create-user-and-group($name) {
(: create group :)
    if(false() = sm:group-exists($name))
    then (
        sm:create-group($name),
        <msg>{"created group '"|| $name || "'"}</msg>
    )
    else (
        <msg>{"group '" || $name || "' already exists"}</msg>
    ),
    (: create user :)
    if(false() = sm:user-exists($name))
    then (
        sm:create-account($name, $name, $name,()),
        <msg>{"created user '"|| $name ||"'"}</msg>
    )
    else (
        <msg>{"user '" || $name || "' already exists"}</msg>
    )
};

declare function local:change-passwords(){
    let $changed-user-passwords := for $user in map:keys($local:users)
    return
        let $passwd :=
            if(true() = sm:user-exists($user))
            then (
                let $change := sm:passwd($user, $local:users($user))
                return "changed pwd for user: '" || $user || "'"
            ) else (
                let $create-user := local:create-user-and-group($user)
                let $change := sm:passwd($user, $local:users($user))
                return "created user '" || $user || "' and changed its password"
            )
        return
            <msg>{$passwd}</msg>

    return
        $changed-user-passwords


};

let $changed-pwds := local:change-passwords()
return
    <hardening>
{% if exist_major_version > 4 %}
        <users count="{count( sm:list-users() ) }">{
{% else %}
        <users count="{count( sm:get-users() ) }">{
{% endif %}
            for $user in sm:list-users()
            return
                <user>{$user}</user>
        }</users>
{% if exist_major_version > 4 %}
        <groups count="{ count( sm:list-groups() ) }">{
{% else %}
        <groups count="{ count( sm:get-groups() ) }">{
{% endif %}
            for $group in sm:list-groups()
            return
                <group>{$group}</group>
        }</groups>
        <updated-passwords count="{ count( $changed-pwds ) }">{
            for $msg in $changed-pwds
                return
                    (
                        util:log("info", "users-and-groups: " || $msg/text()),
                        $msg
                    )
        }</updated-passwords>
    </hardening>
